// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-wrapper{
  position: fixed;
  top: 0;
  left: 0;
}

.custom-body-layout{
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
