// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-wrapper{
  position: fixed;
  top: 0;
  left: 0;
}

.create-plus-button {
  position: fixed;
  z-index: 10;
  right: 7em;
  bottom: 8em;

  &:hover{
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  }
}
