.mdl-cell{
  display: inline-block;
}

.mdl-cell--5-col{
  width: calc(47.666667% - 15px);
}

.body-text-wrapper{
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  height: 50px;
}

@media screen and (max-width: 1280px) {
  .body-text-wrapper{
    height: 75px;
  }
}
